.Panel {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 400px;
  max-width: 90vw;
  background: rgba(0, 0, 0, 0.85);
  color: white;
  transition: transform 250ms ease-in-out;
  z-index: var(--modal-index);
}

.Left {
  left: 0;
  transform: translateX(-100%);
}

.Right {
  right: 0;
  transform: translateX(100%);
}

.Active {
  transform: none;
}

.Wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.Container {
  padding: var(--unit-2) var(--unit-4);
  overflow: auto;
}

.Header {
  padding: var(--unit-2) var(--unit-4);
  display: flex;
  justify-content: flex-end;
}
