.Table {
  max-width: 100%;
  min-width: 50%;
  table-layout: fixed;
  border-collapse: collapse;
}
.Table th,
.Table td {
  padding: 10px;
}

.Table th:first-child, .Table td:first-child {
  width: 50px
}

.Table tr:nth-child(even) td {
  border-bottom: 1px solid var(--border);
}

.Table thead tr:last-child th {
  border-bottom: 1px solid var(--border);
}

.Inactive {
  opacity: 0.5;
}

.Message {
  border-bottom: 1px solid var(--border);
  padding: var(--unit-2);
}

.Subitems {
  margin-top: var(--unit-2);
  display: flex;
  flex-direction: column;
  gap: var(--unit-2);
}
