.Page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.Content {
  flex-grow: 1;
  padding: 0 0 var(--unit-4) 0;
}

.Footer {
  flex-shrink: 0;
}

.PanelAction {
  margin-bottom: var(--unit-3);
}
