.Modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: var(--modals-container-index);
  pointer-events: none;
}

.FrameWrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: var(--modal-index);
  pointer-events: none;
}

.Container {
  max-width: 500px;
  height: 100%;
  padding: var(--unit-2);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Frame {
  max-height: 100%;
  overflow: auto;
  background: white;
  border-radius: var(--radius-2);
  pointer-events: all;
}

.Header {
  padding: var(--unit-2);
  display: flex;
  justify-content: flex-end;
}

.Content {
  padding: var(--unit-2);
}
