.List {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.List td,
.List th {
  padding: var(--unit-2);
  border-bottom: 1px solid var(--border);
}

.List th {
  font-weight: bold;
}
