.List {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.ItemWrapper {
  border: 1px solid var(--border);
  padding: var(--unit-2);
  border-radius: var(--radius);
}

.Item {
}

.Wrapper {
  display: flex;
}

.Actions {
  flex-shrink: 0;
  margin-left: var(--unit-4);
  display: flex;
  flex-direction: column;
  gap: var(--unit-2);
}

.Content {
  flex-grow: 1;
  overflow: hidden;
}

.Header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--unit-2);
}

.Name {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: var(--unit-2);
  overflow: hidden;
  width: 100%;
}

.Text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Price {
  font-weight: bold;
  font-size: 1.2em;
  flex-shrink: 0;
}

.Tag {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: var(--accent);
  color: white;
  padding: var(--unit);
  border-radius: var(--radius);
  flex-shrink: 0;
  max-width: 100px;
}

.Progress {
  margin-top: var(--unit-2);
}

.Subitems {
  margin-top: var(--unit);
  padding: var(--unit-2) 0 0 var(--unit-4);
  margin-bottom: var(--unit);
}

.Subitem {
  padding: var(--unit-2) 0;
}

.Subitem:not(:last-child) {
  border-bottom: 1px solid var(--border);
}

.CreatedAt {
  font-size: 0.75em;
  color: var(--service);
  margin-top: var(--unit-2);
}
