:root {
  --accent: teal;
  --accent-hover: rgb(0, 116, 116);
  --light: #eee;
  --border: #ccc;

  --unit: 5px;
  --unit-2: 10px;
  --unit-3: 15px;
  --unit-4: 20px;

  --radius: 5px;
  --radius-2: 10px;

  --header: 1.5rem;
  --header-2: 1.25rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  font-size: 16px;
}

h1 {
  font-size: var(--header);
  margin: 1rem 0;
}
