:root {
  --accent: teal;
  --accent-hover: rgb(0, 116, 116);
  --light: #eee;
  --border: #ccc;
  --error: red;
  --service: #aaa;

  --unit: 5px;
  --unit-2: 10px;
  --unit-3: 15px;
  --unit-4: 20px;

  --radius: 5px;
  --radius-2: 10px;

  --header: 1.5rem;
  --header-2: 1.25rem;

  --add-button-index: 5;
  --panels-container-index: 9;
  --modals-container-index: 10;
  --mask-index: 15;
  --modal-index: 20;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: var(--header);
  margin: 1rem 0;
}

#panels {
  position: relative;
  z-index: var(--panels-container-index);
}

#modals {
  position: relative;
  z-index: var(--modals-container-index);
}
